<template name="registerArtist">
	<h1>Artist Registration</h1>
	<form id="artist-registration-form">
		<section class="upload-section">
			<p class="field-title">artist name</p>
			<textarea id="artist-name"></textarea>
		</section>
		
		<section class="upload-section">
			<p class="field-title">date of birth</p>
			<textarea id="birth-date"></textarea>
		</section>
		
		<section class="upload-section">
			<p class="field-title">date of death</p>
			<textarea id="death-date"></textarea>
		</section>	

		<section class="upload-section">
			<p class="field-title">portfolio url</p>
			<textarea id="portfolio"></textarea>
		</section>	

		<section class="upload-section">
			<p class="field-title">email address</p>
			<textarea id="email"></textarea>
		</section>		
	</form>

	<button class="submit-button">submit</button>
</template>