<template name="uploadArtwork">
	<h1>Artwork Upload</h1>
	<form id="upload-form" runat="server">
		<div class="upload-area">
			<h2>upload image</h2>
			<section class="upload-section">
				<input id="image-file" class="upload" type="file" />
				<div class="uploadFilePicker"></div>
				<div class="preview-window">
					<span class="helper"></span><img class="image-preview" src="#" alt="" />
				</div>
			</section>
		</div>

		<div class="data-entry">
			<h2>artwork data</h2>
			<section class="upload-section">
				<p class="field-title">artist name</p>
				<textarea id="artist-name"></textarea>
			</section>
			
			<section class="upload-section">
				<p class="field-title">title</p>
				<textarea id="title"></textarea>
			</section>
			
			<section class="upload-section">
				<p class="field-title">date created</p>
				<textarea id="date"></textarea>
			</section>

			<section class="upload-section">
				<p class="field-title">height (cm)</p>
				<textarea id="height"></textarea>
			</section>

			<section class="upload-section">
				<p class="field-title">medium</p>
				<textarea id="medium"></textarea>
			</section>	

			<section class="upload-section">
				<p class="field-title">style</p>
				<textarea id="style"></textarea>
			</section>	
		</div>
	</form>

	<button class="submit-button">submit</button>
</template>