<template name="uploadArtwork">
	<h1>Artwork Upload</h1>
	<form id="upload-form" runat="server">
		<section class="upload-section">
			<h2>upload image</h2>
			<input id="image-file" type="file" />
			<div class="uploadFilePicker"></div>
			<div id="preview-window">
				<img id="image-preview" src="#" alt="" />
			</div>
		</section>

		<section class="upload-section">
			<h2>artist name</h2>
			<textarea id="artist-name"></textarea>
		</section>
		
		<section class="upload-section">
			<h2>work title</h2>
			<textarea id="title"></textarea>
		</section>
		
		<section class="upload-section">
			<h2>date created</h2>
			<textarea id="date"></textarea>
		</section>

		<section class="upload-section">
			<h2>height (cm)</h2>
			<textarea id="height"></textarea>
		</section>

		<section class="upload-section">
			<h2>width (cm)</h2>
			<textarea id="width"></textarea>
		</section>

		<section class="upload-section">
			<h2>medium</h2>
			<textarea id="medium"></textarea>
		</section>	

		<section class="upload-section">
			<h2>style</h2>
			<textarea id="style"></textarea>
		</section>	
	</form>

	<button class="submit-button">submit</button>
</template>